.win-top-bar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #111111;
    height:40px;
    /* background-color: #222222; */
    /* border: 1px solid 	#D3D3D3;
    border-top-right-radius: 10%;
    border-top-left-radius: 20% */
    
}

.window{
    background-color: #222222;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 650px;
    height: 500px;
    border: 1px solid 	#D3D3D3;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    margin-left:30px;
    
}

.resume{
    /* background-color: #F8F8F8; */
    background-color: #222222;
    position: absolute;
    left: 150px;
    top: 80px;
    width: 800px;
    height: 580px;
    border: 1px solid 	#111111;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    margin-left:30px;
    
}

.projects{
    background-color: #222222;
    color: white;
    position: absolute;
    left: 150px;
    top: 120px;
    width: 800px;
    height: 620px;
    border: 1px solid 	#111111;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    margin-left:30px;
    
}





.right-bar{
    margin-left: 300px;
}

.window{
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* about */
.pro{
    border-radius: 50%;
    height:200px;
    width: 200px;
}

.social{
    display:flex;
    flex-direction: row;
    /* justify-content:center; */
    align-items: center;
}

.soc-img{
    height:25px;
    width:25px;
    margin-left: 20px;
}

.my-profile{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    

}


.name{
    margin-bottom:10px;
    margin-top: 10px;
    font-size: 25px;
}

.profn{
    margin-bottom:10px;
}

.prof-pic{
    margin-bottom:10px;
    display: block;
}

.work{
    margin-bottom: 10px;
}

.aboutme{
    margin-bottom: 10px;
    text-align: center;
    margin-left:30px ;
    margin-right: 30px;
}

.pro-containt{
   display: flex;
   flex-direction: row; 
}

.left-opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-right: 1px solid #111111 ;
    width:350px;
    height: 559px;
    padding-top: 20px;
    background-color: #272727;

}

.proj{
    /* margin-top: 30px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: 20px; */
    height:40px;
    width:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.right-proj{
    padding-left: 20px;
    background-color:#2c2c2c ;
    padding-top: 30px;
    height: 549px;
}

div.proj:hover{
    background-color:  #dd4814;
    color: white;
}